---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const description = 'About your blog.';
const permalink = `${Astro.site?.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>About Me</h1>

    <figure class="about-image">
      <img src="/assets/profile-picture.jpg" alt="Picture of Christopher Obando" width="330">
      <figcaption>
        This is me!
      </figcaption>
    </figure>

    <section id="introduction">
      <p>Hello and welcome to my website! I'm Christopher Obando, and I'm passionate about web development. With 3 years of experience as a software engineer, I've had the privilege of working on exciting products such as Microsoft Lists and Microsoft OneDrive.</p>
  </section>

  <section id="skills">
      <h3>Skills:</h3>
      <ul>
          <li>React</li>
          <li>TypeScript</li>
          <li>Sass</li>
      </ul>
  </section>

  <section id="connect">
      <h3>Let's Connect:</h3>
      <p>I'm always open to new opportunities and networking with like-minded professionals. Feel free to connect with me on LinkedIn, and don't hesitate to reach out if you'd like to discuss potential job opportunities.</p>
  </section>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
